<div class="content" role="main">

  <div>
    <!-- 72px -->
    <div class="title navy fredoka">W-AP</div>
    <!-- 14px -->
    <div class="smaller-subtext navy glacial bold spaced">(WEATHER-MAP)</div>

    <form [formGroup]="formGroup">
      <div>
        <mat-form-field class="search-bar" appearance="outline">
          <input matInput type="search" formControlName="query">
          <button mat-button matSuffix mat-stroked-button (click)="search()" [disabled]="!formGroup.value?.query">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div>
        <mat-radio-group aria-label="Select an option" formControlName="option">
          <mat-radio-button value="F">Fahrenheit</mat-radio-button>
          <mat-radio-button value="C">Celsius</mat-radio-button>
        </mat-radio-group>
      </div>

    </form>

  </div>

</div>
<div class="footer">

  <!-- 32px -->
  <div class="motto white anon bold spaced">FIND THE WEATHER AND A MAP</div>
  <!-- 20px -->
  <div class="subtext white sans">Using OpenWeatherMap and Google Maps API</div>
  <div class="white">
    <mat-icon class="cloud">cloud</mat-icon>
  </div>
  <!-- 20px -->
  <div class="subtext white sans">
    <span><a class="white" href="https://github.com/DJ9123">github.com/DJ9123</a> || </span>
    <span><a class="white" href="https://github.com/submaureen">github.com/submaureen</a> || </span>
    <span><a class="white" href="https://github.com/barka">github.com/barka</a></span>
  </div>

</div>